<div class="title"><%= label %></div>
<textarea class="wpb-textarea visual_composer_tinymce content textarea_html wp-editor-area" id="<%= textareaId %>" rows="5" cols="27" name="<%= name %>"><%= value %></textarea>
<script type="text/javascript">
	tinymce.init({
		menubar: "false",
		toolbar: "insertfile undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist",
		statusbar: false,
		selector: "textarea#<%= textareaId %>",
		setup: function (ed) {
			ed.on("change keyup undo redo change init",function(e) {
				var content = tinyMCE.get(ed.id).getContent();
				var escapedClassName = ed.id.replace(/(\[|\])/g, "\\$&");
				jQuery("#<%= textareaId %>").html(content).trigger("change");
			});
		}
	});
</script>