<div class="qoob-block qoob-text">
    <div class="qb-container">
            <div class="qoob-header">
            {{#if header}}
                <h2 class="qoob-header__title qoob-text__title qoob-header__title_color_black">{{header}}</h2>
            {{/if}}
            {{#if text}}
                <div class="qoob-header__description qoob-text__description qoob-header__description_color_black">
                   {{{text}}}
                </div>
            {{/if}}
            </div>
    </div>
</div>