 <% if (templates.length == 0){ %>
	<div class="block-blank <% if (templates.length == 0) { %>full-page<% } %>">
		<div class="block-blank-inner">
			<div class="block-blank-inner-wrap">
				<div class="block-blank-inner-image"></div>
				<div class="block-blank-inner-text">
					<div class="blank-text"><%= text_default_blank %></div>
				</div>
			</div>
		</div>
	</div>
<% } %>
<% if (templates.length > 0) { %>
	<div class="title-block"><%= block_default_templates_text %></div>
	<div class="templates clearfix">
		<% for (var k = 0; k < templates.length; k++) { %>
			<div class="template" data-id="<%= templates[k].id %>">
				<div class="image-bg" <% if (templates[k].image) { %> style="background-image: url(<%= templates[k].image %>);" <% } %>>
					<% if (!templates[k].image) { %>
						<span class="template-no-image"><%= template %></span>
					<% } %>
				</div>
				<% if (templates[k].title) { %>
					<div class="title"><%= templates[k].title %></div>
				<% } %>
				<% if ( ! templates[k].external ) { %>
					<a class="remove" data-id="<%= templates[k].id %>" href="#"><i class="fa fa-times"></i></a>
				<% } %>
			</div>
		<% } %>
	</div>
<% } %>