<div class="modal-content">
  <i class="fa fa-times close" aria-hidden="true" title="<%= Close %>"></i>
  <div class="modal-header">
    <h4 class="modal-title" id="<%= page_data_text %>"><%= page_data_text %></h4>
  </div>
  <div class="modal-body">
    <textarea class="form-control qoob-import-export-textarea"><%= page_data %></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-cancel close"><%= cancel %></button>
    <button class="btn btn-save-changes save-changes"><%= save_changes %></button>
  </div>
</div>