<div id="inner-settings-image" class="inner-settings">
    <div class="backward">
        <a onclick="builder.menu.showSettings('<%= blockId %>'); return false;" href="#">Back</a>
    </div>
    <input class="input-text img-search" type="text" placeholder="Filter">
    <input class="no-active img-select" type="button" value="Select image">
    <div class="settings-block settings-scroll">
        <div class="filtered-images"> 
           <%  for (var i = 0; i < assets.length; i++) {
                    for (var j = 0; j < assets[i].length; j++) { 
                        if (assets[i][j].type === 'image') { %>
                            <div class="ajax-image" data-image-tags="<% if( assets[i][j].tags ){ %> <%= assets[i][j].tags.join() %> <% } %>">
                                <img src="<%= assets[i][j].src %>" alt="" /> 
                            </div>
                        <% }
                    }
                } %>

        </div>
    </div>
</div>
<script type='text/javascript'>
jQuery(document).ready(function() {
    jQuery('.img-search').keyup(function(e) {
        var filteredWords = jQuery(this).val().split(' ');
        var imagesToFilter = jQuery('#inner-settings-image .ajax-image');
        imagesToFilter.stop(true, true).fadeIn();
        if (filteredWords.length <= 1 && filteredWords[0] === '') {
            imagesToFilter.stop(true, true).fadeIn();
        } else {
            imagesToFilter.each(function() {
                var filtered = false;
                for (var i = 0; i < filteredWords.length; i++) {
                    if (filteredWords[i] !== '' && jQuery(this).attr('data-image-tags').match(new RegExp(filteredWords[i]))) {
                        filtered = true;
                        jQuery(this).stop(true, true).fadeIn();
                        break;
                    }
                }
                if (!filtered) {
                    jQuery(this).stop(true, true).fadeOut();
                }
            });
        }
    });
    jQuery('#inner-settings-image .ajax-image').click(function() {
        jQuery('#inner-settings-image .ajax-image').removeClass('chosen');
        jQuery('#inner-settings-image .img-select').removeClass('no-active');
        jQuery(this).addClass('chosen');
    });
    jQuery('#inner-settings-image .img-select').click(function() {
        var url;
        var chosen = jQuery('#inner-settings-image .chosen img');
        if (chosen.get(0)) {
            url = chosen.attr('src');
            window.selectFieldImage(url);
            builder.menu.showSettings("<%= blockId %>");
        }
    });
});
</script>
