<div class="title"><%= label %></div>
<% if(visible_color === undefined || visible_color === false){ %>
	<select class="select" name="<%= name %>">
		<% _.each( options, function( option ){ %>
			<option <% if ( current === option.id ){ %> selected <% } %> value='<%- option.id %>'>
				<%- option.val %>
			</option>
		<% }); %>
	</select>
<% }else { %>
	<div class="other-colors">
		<% _.each( options, function( option ){ %>
			<div id="<%-option.id %>" class="other-color theme-colors <% if ( current === option.id ){ %> active <% } %>" style="background: <%- option.colorimage %>"><span></span>
			</div>
		<% }); %>
	</div>
	<input type="hidden" name="<%= name %>" value="">
<%}%>
