<div id="inner-settings-image" class="inner-settings" data-current-src="<%= curSrc %>">
    <div class="backward">
        <a class="backward-image" href="#">Back</a>
    </div>
    <div class="img-url-group">
        <input class="input-text img-url" type="text" placeholder="Image url" />
        <i class="img-url-select"></i>
    </div>
    <div class="img-filter-group">
        <input class="input-text img-search" type="text" placeholder="Tags">
        <select class="img-pack">
            <option selected value="all">all</option>
        </select>
    </div>
    <div class="clearfix"></div>
    <div class="settings-block">
        <div class="filtered-images"> 
           <%  for (var i = 0; i < assets.length; i++) {
                    for (var j = 0; j < assets[i].length; j++) { 
                        if (assets[i][j].type === 'image') { %>
                        <div class="ajax-image" data-image-pack="<%if(assets[i][j].pack) {%><%=assets[i][j].pack%><%} else {%><%='default'%><% } %>" data-image-tags="<% if( assets[i][j].tags ){ %><%=assets[i][j].tags.join()%><% } %>">
                                <img src="<%= assets[i][j].src %>" alt="" /> 
                            </div>
                        <% }
                    }
                } %>
        </div>
        <div class="delete-image"></div>
    </div>
</div>