<div class="backward">
    <a href="#index"><span><%= back %></span></a>
</div>
<div class="settings-blocks-full">
	<div class="settings-block">
		<div class="settings-item">
			<div class="title"><%= add_url_library %></div>
			<div class="container-input-add">
				<input class="input-url" type="text" name="url" value="" placeholder="<%= enter_url_here %>">
				<button class="add-library">
					<span class="hide-elem">
						<%= Add %>
					</span>
					<span class="clock">
						<span class="minutes-container">
							<span class="minutes"></span>
						</span>
						<span class="seconds-container">
							<span class="seconds"></span>
						</span>
					</span>
				</button>
			</div>
		</div>
		<div class="libraries">
		<div class="settings-item library-notice">
				<div class="title"><%= libraries_attention %></div>
				<div class="notice-block">
					<%= libraries_text_part_1 %> <a class="reload-page" href=""><%= libraries_text_part_2 %></a> <%= libraries_text_part_3 %>
				</div>
				
			</div>
			<div class="settings-item">
				<div class="title"><%= libraries_lng %></div>

				<% for (var i = 0; i < libraries.length; i++) { %>
					<div class="library">
						<div class="name-library">
							<% if (libraries[i].name.length > 26) { %>
								<%= libraries[i].name.substring(0, 26) %>...
							<% } else { %>
								<%= libraries[i].name %>
							<% } %>
						</div>
						<div class="control-library" data-lib-name="<%= libraries[i].name %>">
							<% if (libraries[i].update && libraries[i].update.substr(libraries[i].update.length - 4) == 'json') { %>
								<a class="update-library" href="#" title="<% lng_update %>">
									<i class="hide-elem fa fa-refresh"></i>
									<span class="clock">
										<span class="minutes-container">
											<span class="minutes"></span>
										</span>
										<span class="seconds-container">
											<span class="seconds"></span>
										</span>
									</span>
								</a>
							<% } %>
							<a class="remove-library" href="#" title="<%= lng_delete %>">
								<span class="clock">
									<span class="minutes-container">
										<span class="minutes"></span>
									</span>
									<span class="seconds-container">
										<span class="seconds"></span>
									</span>
								</span>
							</a>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</div>