<div class="backward">
    <a href="#index" class="back"><span><%= back %></span></a>
</div>
<div class="settings-blocks-full save-template-settings">
    <div class="block-button">
        <div class="button-save-template create-template">
            <span class="save"><%= save_template %></span>
            <span class="save-loading"><%= save_loading %></span>
        </div>
    </div>
    <div class="notice-block blue">
        <%= save_notice_title %>
    </div>
    <div class="notice-block grey">
        <%= save_notice_text %>
    </div>
    <div class="error-block">
        <i class="fa fa-exclamation-triangle icon"></i> <%= you_cant_save_empty_template %>
    </div>
</div>
