<div class="<% if(!libs || libs.length === 1) { %>single<% } %> form-group lib-select">
    <select class="form-control" id="lib-select">
        <option>all</option>
        <% for (var i = 0; i < libs.length; i++) { %>
        <option <% if(!!curLib && libs[i].name === curLib) { %> selected <% } %>><%= libs[i].name %></option>
        <% } %>
    </select>
    <a href="#manage-libs" class="btn btn-manage"><%= manage %></a>
</div>
<ul class="catalog-list">
    <% for (var i = 0; i < groups_arr.length; i++) { %>
        <% var group = groups_arr[i]; %>
        <% var group_id = group.id.replace(/\s+/g, '').toLowerCase(); %>
        <li class="<%= group.libs.join(' ') %>">
            <a href="#groups/<%= group_id %>">
            <% if (group.label){ %> 
                <%= group.label %> 
            <% } else { %> 
                <%= group.id %> 
            <% } %> 
            </a>
        </li>
    <% } %>
</ul>