<div class="clearfix">
    <div class="libraries">
        <select class="lib-select <% if(!libs) { %>disabled <% } %>qoob-select-item">
            <option value="all" selected><%= allThemes %></option>
            <% if(libs) { %>
                <% for (var i = 0; i < libs.length; i++) { %>
                    <option value="<%= libs[i].name %>" data-title="<% if (libs[i].name.length > 14) { %><%= libs[i].name.substring(0, 14) %>...<% } else { %><%= libs[i].name %><% } %>" <% if(!!curLib && libs[i].name === curLib) { %> selected <% } %>>
                        <% if (libs[i].name.length > 26) { %>
                            <%= libs[i].name.substring(0, 26) %>...
                        <% } else { %>
                            <%= libs[i].name %>
                        <% } %>
                    </option>
                <% } %>
            <% } %>
        </select>
    </div>
    <div class="qoob-dropdown qoob-dropdown-more">
        <button class="qoob-dropdown-toggle" type="button">
            <div class="dot">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>        
        <ul class="qoob-dropdown-content">
            <li>
                <div class="autosave clearfix">
                    <div class="autosave-item-name"><%= autosave %></div>
                    <label class="autosave-item-switch">
                        <input type="checkbox" class="autosave-checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </li>
            <% if (customMenu) { %>
                <% _.each( customMenu, function( item ) { %>
                    <li><a <% if (item.action != '') { %>data-id="<%= item.id %>"<% } %> href="#<%= item.id %>"><%= item.label %></a></li>
                <% }); %>
            <% } %>
        </ul>
    </div>
</div>

<div class="control-buttons clearfix">
    <button class="button backward"></button>
    <button class="button view-preview" <% if (device) { %> disabled<% } %>></button>
    <button class="button save" title="<%= save %>">
        <span class="save-clock">
            <span class="minutes-container"><span class="minutes"></span></span>
            <span class="seconds-container"><span class="seconds"></span></span>
        </span>
    </button>
    <div class="preview-modes">
        <% if (device == "mobile" || device == "tablet") { %>
            <div class="qoob-selected-value" data-value="pc" tabindex="0"><i class="fa fa-desktop"></i></div>
        <% } else { %>
            <select class="qoob-select-item">
                <option value="pc" data-icon="fa fa-desktop"><%= desktop %></option>
                <option value="tablet" data-icon="fa fa-tablet"><%= tablet %></option>
                <option value="phone" data-icon="fa fa-mobile"><%= phone %></option>
            </select>
        <% } %>
    </div>
</div>