<div class="<% if(!libs) { %>empty <% } %>lib-select">
    <select id="lib-select">
        <option value="all" selected><%= allThemes %></option>
        <% if(libs) { %>
            <% for (var i = 0; i < libs.length; i++) { %>
                <option value="<%= libs[i].name %>" <% if(!!curLib && libs[i].name === curLib) { %> selected <% } %>>
                    <% if (libs[i].name.length > 14) { %>
                        <%= libs[i].name.substring(0, 14) %>...
                    <% } else { %>
                        <%= libs[i].name %>
                    <% } %>
                </option>
            <% } %>
        <% } %>
    </select>
</div>

<div class="qoob-dropdown">
  <button class="qoob-dropdown-toggle">Dropdown</button>
  <div class="qoob-dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
  </div>
        

<div class="dropdown more">
    <button class="dropdown-toggle button" type="button" id="more" data-toggle="dropdown"><%= more %></button>        
    <ul class="dropdown-menu" aria-labelledby="more">
        <li>
            <div class="autosave">
                <label class="checkbox-sb">
                    <input type="checkbox" class="autosave-checkbox"><span></span><em><%= autosave %></em>
                </label>
            </div>
        </li>
        <% if (customMenu) { %>
            <% _.each( customMenu, function( item ) { %>
                <li><a <% if (item.action != '') { %>data-id="<%= item.id %>"<% } %> href="#<%= item.id %>"><%= item.label %></a></li>
            <% }); %>
        <% } %>
    </ul>
</div>

<div class="control-buttons">
    <button class="button preview-mode">
        <%= preview %>
    </button>
    <div class="dropdown devices">
        <button class="button dropdown-toggle" type="button" id="devices" data-toggle="dropdown"><%= devices %></button>
        <ul class="dropdown-menu" aria-labelledby="devices">
            <li><a name="pc" class="pc device-mode" href="#"><%= desktop %></a></li>
            <li><a name="tablet-vertical" class="tablet-vertical device-mode" href="#"><%= tablet %></a></li>
            <li><a name="tablet-horizontal" class="tablet-horizontal device-mode" href="#"><%= rotate %></a></li>
            <li><a name="phone-vertical" class="phone-vertical device-mode" href="#"><%= phone %></a></li>
            <li><a name="phone-horizontal" class="phone-horizontal device-mode" href="#"><%= rotate %></a></li>
        </ul>
    </div>
    <button class="button save"><span class="text"><%= save %></span>
        <span class="clock">
            <span class="minutes-container"><span class="minutes"></span></span>
        <span class="seconds-container"><span class="seconds"></span></span>
        </span>
    </button>
    <button class="exit button"><%= close %></button>
</div>