<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="toolbar">
    <title>Qoob test case</title>
</head>
<body>
<div class="logo side-0">
    <div class="wrap-qoob">
        <div class="qoob">
            <div class="side-0"></div>
            <div class="side-90"></div>
            <div class="side-180"></div>
            <div class="side-270"></div>
        </div>
    </div>
    <div class="text"></div>
</div>
<div class="edit-control-bar">
    <div class="form-group lib-select">
        <select class="form-control" id="lib-select">
            <option>all</option>
            <% for (var i = 0; i < libs.length; i++) { %>
            <option <% if(!!curLib && libs[i].name === curLib) { %> selected <% } %>><%= libs[i].name %></option>
            <% } %>
        </select>
    </div>
    <div class="autosave">
        <label class="checkbox-sb">
            <input type="checkbox" class="autosave-checkbox"><span></span><em>Autosave</em>
        </label>
    </div>
    <div class="edit-control-button">
        <button class="save-button"><span class="text">Save</span>
            <span class="clock">
                <span class="minutes-container"><span class="minutes"></span></span>
            <span class="seconds-container"><span class="seconds"></span></span>
            </span>
        </button>
        <button class="exit-button">Exit</button>
        <button class="device-mode-button pc active" name="pc"></button>
        <button class="device-mode-button tablet-vertical" name="tablet-vertical"></button>
        <button class="device-mode-button phone-vertical" name="phone-vertical"></button>
        <button class="device-mode-button tablet-horizontal" name="tablet-horizontal"></button>
        <button class="device-mode-button phone-horizontal" name="phone-horizontal"></button>
        <button class="preview-mode-button"></button>
    </div>
</div>
</body>
</html>
