/*--------------------------------------------------------------
## Testimonial center carousel 
--------------------------------------------------------------*/
.testimonial-block h1 {
    text-align: center;
    text-transform: uppercase;
}
.testimonial-carousel.testimonial-carousel-center {
	margin-top: 9rem;
}
.testimonial-carousel.testimonial-carousel-center .testimonial-content h4 {
	    margin-top: 1.4rem;
}
.testimonial-carousel.testimonial-carousel-center .owl-theme .owl-dots {
	margin-top: 10.9rem;
}
.testimonial-carousel.testimonial-carousel-center .testimonial-img {
    float: none;
    margin: auto;
}
.testimonial-carousel.testimonial-carousel-center .testimonial-content {
    float: none;
    width: 100%;
    text-align:left;
}