<% if (label){ %>
	<label class="textarea-label field-label"><%= label %></label>
<% } %>
<div class="textarea-container">
	<div id="<%= textareaId %>"><%= value %></div>
</div>
<script type="text/javascript">
	var quill_<%= textareaId %> = new Quill('#<%= textareaId %>', {
		modules: {
			toolbar: [
				['bold', 'italic', {
					'list': 'ordered'
				}, {
					'list': 'bullet'
				}, {
					'align': []
				}]
			]
		},
		placeholder: '',
		theme: 'snow'
	});
	quill_<%= textareaId %>.on('text-change', function() {
		jQuery('#<%= textareaId %>').trigger('change', quill_<%= textareaId %>);
	});
</script>