<div class="settings-block-items">
    <div class="field-image-container-inner<%if (curSrc === '') { %> empty<%}%>">
        <div class="field-image">
            <div class="field-image__selected-image">
                <img src="<%= curSrc %>">
            </div>
        </div>

        <div class="field-image__noimage">
            <i class="field-image__noimage-icon fa fa-plus"></i>
        </div>

        <div class="field-text">
            <input type="text" class="input-url image-url" value="<%= curSrc %>" placeholder="<%= url %>">
        </div>
    </div>

    <div class="field-input-autocomplete">
        <input class="text-autocomplete img-search" type="text" value="" placeholder="<%= search %>">
        <span class="fa fa-search field-input-autocomplete__icon-search"></span>
    </div>
    
    <div class="filtered-images">
        <div class="inview-images"></div>
    </div>
</div>