<div class="settings-block-items">
    <div class="field-video-container-inner<% if ((src === '' || src !== '' && !src.hasOwnProperty('url')) || (src.hasOwnProperty('url') && src.url === '') || (src.hasOwnProperty('preview') && src.preview === '') ) { %> empty<% } %>">
        <div class="field-video">
            <div class="field-video__selected-video">
                <img src="<%= src.preview %>">
            </div>
        </div>

        <div class="field-video__novideo">
            <i class="field-video__novideo-icon fa fa-plus"></i>
        </div>
    </div>

    <div class="field-input-autocomplete">
        <input class="text-autocomplete video-search" type="text" value="" placeholder="<%= search %>">
        <span class="fa fa-search field-input-autocomplete__icon-search"></span>
    </div>
    
    <div class="filtered-videos">
        <div class="inview-videos"></div>
    </div>
</div>