<label class="field-label"><%= label %></label>

<input type="text" class="field-image__url" name="<%= name %>" value="<%= value %>" placeholder="">

<div class="field-image-container<% if (value === '') { %> empty <% } %>">
    <div class="field-image__preview">
        <img class="show-media-center" src="<%= value %>" />
        <% if (!hideDeleteButton || hideDeleteButton !== 1) { %>
            <i class="field-image__remove-image fa fa-times"></i>
        <% } %>
    </div>
    <div class="field-image__noimage show-media-center">
        <i class="fa fa-file-image-o"></i>
    </div>
</div>

<div class="media-center clearfix">
    <button type="button" class="show-media-center media-center__button">
        <i class="media-center__button_image-icon fa fa-file-image-o"></i>
        <%= media_center %>
    </button>

    <div class="qoob-dropdown media-center__button-more">
        <button class="qoob-dropdown-toggle" type="button">
            <div class="dot">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <ul class="qoob-dropdown-content">
            <% _.each( customItems, function( item ){ %>
                <li>
                    <a href="#" data-id="<%- item.id %>" class="action">
                        <%- item.label %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</div>