<div class="backward-button">
    <div class="backward-button__text">
        <%= back %>
    </div>
</div>
<div class="settings-block-items">
    <div class="inner-settings-control">
        <button class="inner-settings-control__button inner-settings-control__button-search"></button>
        <button class="inner-settings-control__button inner-settings-control__button-link inner-settings-control__button-disabled"></button>
        <button class="inner-settings-control__button inner-settings-control__button-reset"></button>
        <button class="inner-settings-control__button inner-settings-control__button-remove <% if (hideDeleteButton || hideDeleteButton === 1) { %>inner-settings-control__button-disabled<% } %>"></button>
        <div class="inner-settings-control__search">
            <div class="field-input-autocomplete">
                <input class="field-input-autocomplete__text video-search" type="text" value="" placeholder="<%= search %>">
                <button class="field-input-autocomplete__icon-search"></button>
            </div>
        </div>
    </div>

    <div class="field-video-container-inner<% if ((src === '' || src !== '' && !src.hasOwnProperty('url')) || (src.hasOwnProperty('url') && src.url === '') || (src.hasOwnProperty('preview') && src.preview === '') ) { %> empty<% } %>">
        <div class="field-video">
            <div class="field-video__selected-video">
                <img src="<%= src.preview %>">
            </div>
        </div>
    </div>

    <div class="filtered-videos">
        <div class="inview-videos"></div>
    </div>
</div>