<div class="settings-block-items">
    <div class="field-icon-container-inner<%if (!icon.classes) { %> empty<%}%>">
        <div class="field-icon">
            <div class="field-icon__selected-icon">
                <span data-icon-tags="<%= icon.tags %>" class="<%= icon.classes %>"></span>
            </div>
        </div>

        <div class="field-icon__noicon">
            <i class="field-icon__noicon-icon fa fa-plus"></i>
        </div>
    </div>
    
    <div class="field-input-autocomplete">
        <input class="text-autocomplete icon-search" type="text" value="" placeholder="<%= search %>">
        <span class="fa fa-search field-input-autocomplete__icon-search"></span>
    </div>
    
    <div class="filtered-icons">
        <div class="inview-icons"></div>
    </div>
</div>
