<% if (label){ %>
    <div class="field-label"><%= label %></div>
<% } %>
<div id="<%= sliderId %>" class="sliders-size"></div>
<input class="size" name="<%= name %>" type="text" id="<%= sizeId %>" value="<%= value %>">
<script type="text/javascript">

jQuery("#<%= sliderId %>").slider({
    value: '<%= value %>',
    min: '<%= min %>', 
    max: '<%= max %>',
    step: 1,
    slide: function(event, ui) {
        jQuery("#<%= sizeId %>").val(ui.value);
        jQuery("#<%= sizeId %>").trigger("change");
    }
});
</script>
