<% if (label){ %>
    <label class="field-label"><%= label %></label>
<% } %>
<% if(visible_color === undefined || visible_color === false){ %>
	<div class="select-container">
		<select class="select" name="<%= name %>" data-width="100%" data-dropup-auto="false">
			<% _.each( options, function( option ){ %>
				<option <% if ( current === option.id ){ %> selected <% } %> title="<%= option.val %>" value='<%- option.id %>'>
					<% if (option.val.length > 22) { %>
						<%= option.val.substring(0, 19) %>...
					<% } else { %>
						<%= option.val %>
					<% } %>
				</option>
			<% }); %>
		</select>
	</div>
<% }else { %>
	<div class="other-colors">
		<% _.each( options, function( option ){ %>
			<div id="<%-option.id %>" class="other-color theme-colors <% if ( current === option.id ){ %>active<% } %>">
				<span style="background: <%- option.colorimage %>"></span>
			</div>
		<% }); %>
	</div>
	<input type="hidden" name="<%= name %>" value="">
<%}%>