/* Edit admin page */

body {
    background-color: #ffffff;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto/Roboto-Black.eot');
    src: url('../fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Black.woff') format('woff'), url('../fonts/roboto/Roboto-Black.ttf') format('truetype'), url('../fonts/roboto/Roboto-Black.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

#qoob {
    width: 100%;
    font-family: 'robotoregular';
}

#qoob-sidebar {
    position: fixed;
    width: 264px;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#qoob-toolbar {
    top: 0;
    left: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 6px;
    padding-left: 6px;
    z-index: 2;
}

#qoob-menu {
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
}

#qoob-viewport {
    left: 264px;
    width: calc(100% - 264px);
    background-color: #fff;
    position: absolute;
    vertical-align: top;
    z-index: 1;
}

#qoob-iframe {
    border: none;
    margin: 0 auto;
    display: block;
}


/* default qoob select */

.qoob-select {
    position: relative;
}

.qoob-select-dropdown {
    display: none;
}

.qoob-select-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.qoob-selected-value:focus {
    outline: none;
}


/* end default qoob select */

.lib-select {
    position: relative;
    border-radius: 2px;
    width: 188px;
    height: 50px;
    font-size: 15px;
    font-family: "robotoblack";
}

.lib-select .qoob-selected-value {
    position: absolute;
    cursor: pointer;
    width: 188px;
    height: 50px;
    padding-top: 18px;
    padding-left: 18px;
    background-color: rgb(236, 236, 236);
    color: rgb(1, 8, 51);
    line-height: 1.12;
    text-align: left;
}

.lib-select .qoob-selected-value:before {
    position: absolute;
    right: 26px;
    top: 16px;
    width: 11px;
    height: 7px;
    display: block;
    font-size: 2.398px;
    font-family: FontAwesome;
    content: "\f078";
    width: 11px;
    height: 7px;
    font-size: 14px;
    line-height: 1;
}

.lib-select .qoob-select-dropdown {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 252px;
    z-index: 1;
}

.lib-select .qoob-select-dropdown .selected {
    color: rgb(255, 255, 255);
    background-color: rgb(1, 8, 51);
}

.lib-select .qoob-select-dropdown .selected:before {
    position: absolute;
    right: 26px;
    top: 16px;
    width: 11px;
    height: 7px;
    display: block;
    font-size: 2.398px;
    font-family: FontAwesome;
    content: "\f077";
    width: 11px;
    height: 7px;
    font-size: 14px;
    line-height: 1;
}

.lib-select .qoob-select-dropdown li {
    cursor: pointer;
    width: 252px;
    height: 50px;
    color: rgb(1, 8, 51);
    line-height: 52px;
    padding-left: 18px;
    text-align: left;
}

.lib-select .qoob-select-dropdown li:not(.selected):hover {
    background-color: rgb(236, 236, 236);
}
