/*! jQuery UI - v1.11.4 - 2015-10-29
* http://jqueryui.com
* Includes: core.css, draggable.css
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */


/* Layout helpers
----------------------------------*/

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0;
    /* support: IE7 */
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
    /* support: IE8 */
}

.ui-front {
    z-index: 99999;
}


/* Interaction Cues
----------------------------------*/

.ui-state-disabled {
    cursor: default !important;
}


/* Icons
----------------------------------*/


/* states and img */

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/


/* Overlays */

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
}

.ui-draggable-dragging {
    z-index: 9999999 !important;
}


/* Misc visuals
----------------------------------*/


/* Fonts */

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Thin-webfont.woff') format('woff'), url('../fonts/roboto/Roboto-Thin-webfont.ttf') format('truetype'), url('../fonts/roboto/Roboto-Thin-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'), url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/roboto/Roboto-Light-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/Roboto-Regular.eot');
    src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Overlays */

.droppable-zone.ui-droppable {
    position: absolute;
    width: 100%;
    height: 50px;
    visibility: hidden;
    margin-top: 0;
    z-index: 999;
    font-family: 'robotoregular';
    font-size: 16px;
    color: #010833;
    line-height: 50px;
    text-align: center;
    background-color: #ececec;
}

.droppable-zone.ui-droppable i.plus {
    margin: 0 8px 0 0;
}

.droppable-zone.ui-droppable .dropp-block {
    cursor: default;
    /*line-height: 75px;
    height: 75px;*/
}

.droppable-zone.ui-droppable-active {
    visibility: visible;
    display: block;
}

.droppable-zone.ui-droppable-hover {
    background-color: #00ce63;
    color: #ffffff;
    display: block;
}

.droppable-zone.ui-droppable-hover i.plus {
    margin-top: -10px;
}

.droppable-zone.ui-droppable-hover span {
    margin-top: -10px;
}

/* Wait Block */

.wait-block {
    cursor: default;
    visibility: visible;
    background-color: #00ce63;
    color: #fff;
    font-family: 'robotoregular';
    font-size: 16px;
    line-height: 46px;
    height: 50px;
    text-align: center;
}

.wait-block .clock {
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    height: 35px;
    position: relative;
    width: 35px;
    vertical-align: middle;
}

.wait-block .clock + span {
    margin-left: 20px;
    vertical-align: middle;
}

.wait-block .clock:after {
    background: #00ce63;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 3px;
    z-index: 10;
    border-radius: 50%;
}

.wait-block .minutes-container,
.wait-block .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wait-block .minutes,
.wait-block .seconds {
    background: #00ce63;
    height: 15px;
    left: 47%;
    position: absolute;
    top: 10%;
    width: 3px;
}

.wait-block .seconds {
    z-index: 8;
}

.wait-block .minutes-container {
    animation: rotate 1s infinite linear;
}

.wait-block .seconds-container {
    animation: rotate 0.3s infinite linear;
}


/* Animation add block and remove block */

@-webkit-keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.5);
    }
}

@keyframes scaleUp {
    from {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
}

@-webkit-keyframes scaleDown {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@keyframes scaleDown {
    from {}
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}

.content-block-outer.content-show {
    -webkit-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
}

.content-block-outer.content-hide {
    -webkit-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
}

.content-block-inner {
    position: relative;
}

.content-block-inner .empty-block {
    height: 300px;
    width: 100%;
    text-align: center;
    line-height: 300px;
}

.content-block-inner .empty-block .empty-block-text {
    font-family: 'robotolight' color: #000;
    font-size: 20px;
}


/* Overlay */

#qoob-blocks .content-block-outer {
    position: relative;
}

.content-block-outer .qoob-overlay {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: all;
    z-index: 9999;
}

.content-block-outer .qoob-overlay:hover {
    background: #fff;
    opacity: .4;
    cursor: pointer;
}

.content-block-outer .qoob-overlay.active {
    display: none;
}

.content-block-outer .qoob-overlay.no-active {
    background: #000;
    opacity: .7;
}

.content-block-outer .qoob-overlay.no-active:hover {
    background: #000;
    opacity: .4;
}

#qoob-blocks.preview .qoob-overlay {
    display: none;
}


/* Frontend Blank Block */

#qoob-blocks .block-blank {
    position: relative;
    width: 100%;
}

#qoob-blocks .block-blank.full-page {
    height: calc(100vh - 40px);
}

#qoob-blocks .block-blank-inner {
    position: relative;
    overflow: hidden;
    height: 136px;
    font-size: 25px;
    color: #b2b2b2;
    font-family: 'robotobold';
    line-height: 40px;
    text-align: center;
}

@media (max-width: 480px) {
    #qoob-blocks .block-blank-inner {
        height: 245px;
    }
}

#qoob-blocks .block-blank.full-page .block-blank-inner {
    height: calc(100% - 40px);
}

#qoob-blocks .block-blank-inner i {
    font-size: 40px;
}

#qoob-blocks .block-blank-inner-wrap {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
}

#qoob-blocks .block-blank-inner-image {
    width: 196px;
    height: 116px;
    background-image: url('../img/qoob-start-page-image.png');
    background-repeat: no-repeat;
    margin: 0 auto 10px auto;
}

#qoob-blocks .block-blank-inner-text .blank-text {
    font-family: 'robotobold';
    font-size: 24px;
    letter-spacing: 0.06em;
}

#qoob-blocks .block-blank-inner i,
#qoob-blocks .block-blank-inner-text .blank-text {
    display: inline-block;
    color: #cdcdcd;
    vertical-align: middle;
}

#qoob-blocks .qoob-templates {
    position: relative;
    width: 100%;
}

#qoob-blocks .qoob-templates .title-block {
    color: #cdcdcd;
    letter-spacing: 0.06em;
    text-align: center;
    font-family: 'robotoblack';
    font-size: 36px;
    margin-top: 75px;
    margin-bottom: 49px;
}

#qoob-blocks .qoob-templates .templates {
    margin: 0 auto;
    max-width: 878px;
}

#qoob-blocks .qoob-templates .template {
    position: relative;
    text-align: center;
    float: left;
    border-radius: 3px;
    margin: 0 41px 39px 0px;
}

#qoob-blocks .qoob-templates .template .title {
    cursor: pointer;
    font-family: 'robotoblack';
    font-size: 16px;
    letter-spacing: 0.025em;
    text-align: center;
    margin-top: 17px;
    color: #010833;
}

#qoob-blocks .qoob-templates .template .image-bg {
    overflow: hidden;
    margin-top: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    width: 264px;
    height: 431px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

#qoob-blocks .qoob-templates .template .image-bg .template-no-image {
    display: block;
    position: absolute;
    text-align: center;
    padding-top: calc(50% + 22px);
    color: #606163;
    width: 100%;
    height: 100%;
    font-size: 22px;
}

#qoob-blocks .qoob-templates .template .remove {
    position: absolute;
    display: block;
    width: 11px;
    height: 11px;
    top: 14px;
    right: 14px;
    font-size: 16px;
    line-height: 0px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.21);
    color: #fff;
}

@media (min-width: 1200px) {
    #qoob-blocks .qoob-templates .template {
        width: 264px;
    }
    #qoob-blocks .qoob-templates .template:nth-child(3n) {
        margin: 0 0 32px 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #qoob-blocks .qoob-templates .template {
        width: 264px;
    }
     #qoob-blocks .qoob-templates .template:nth-child(3n) {
        margin: 0 0 32px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #qoob-blocks .qoob-templates .templates {
        max-width: 690px;
    }
    #qoob-blocks .qoob-templates .template {
        width: 46.6%;
    }
    #qoob-blocks .qoob-templates .template .image-bg {
        width: 100%;
    }
    #qoob-blocks .qoob-templates .template:nth-child(2n) {
        margin: 0 0 32px 0;
    }
}

@media (max-width: 767px) {
    #qoob-blocks .qoob-templates .template {
        width: 46.5%;
    }
    #qoob-blocks .qoob-templates .template .image-bg {
        width: 100%;
    }
    #qoob-blocks .qoob-templates .templates {
        max-width: 640px;
    }
    #qoob-blocks .qoob-templates .template:nth-child(2n) {
        margin: 0 0 32px 0;
    }
}

@media (max-width: 480px) {
    #qoob-blocks .qoob-templates {
        background-color: #fff;
        width: 100%;
        padding: 30px 30px 30px 30px;
    }
    #qoob-blocks .block-blank.full-page {
        height: calc(100vh - 60px);
    }
    #qoob-blocks .block-blank.full-page .block-blank-inner {
        height: calc(100vh - 60px);
    }
    #qoob-blocks .qoob-templates .template {
        width: 100%;
        float: none;
        margin: 0 0 32px 0;
    }
}


/* Quill editor
----------------------------------*/

.ql-align-center {
    text-align: center;
}

.ql-align-justify {
    text-align: justify;
}

.ql-align-right {
    text-align: right;
}


/* Loader
----------------------------------*/

@keyframes loader {
    0%,
    10%,
    100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}

@keyframes loaderBlock {
    0%,
    30% {
        transform: rotate(0);
    }
    55% {
        background-color: #949599;
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes loaderBlockInverse {
    0%,
    20% {
        transform: rotate(0);
    }
    55% {
        background-color: #949599;
    }
    100% {
        transform: rotate(-90deg);
    }
}

.loader-wrap {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999999;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    animation: loader 1.2s infinite ease-in-out;
    z-index: 9999999;
}

.loader span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #949599;
    animation: loaderBlock 1.2s infinite ease-in-out both;
}

.loader span:nth-child(1) {
    top: 0;
    left: 0;
}

.loader span:nth-child(2) {
    top: 0;
    right: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.loader span:nth-child(4) {
    bottom: 0;
    right: 0;
}
