<div class="backward">
<a href="#index">
    <% if(group.label){ %> 
        <%= group.label %> 
    <% }else{ %> 
        <%= group.id %> 
    <% } %>
</a>
</div>
<div class="preview-blocks">
<% for (var k = 0; k < items.length; k++) { %>
    <div id="preview-block-<%= items[k].id %>" class="preview-block" onclick="builder.builderLayout.viewPort.clickBlockAdd(this.id); return false;">
        <img src="<%= items[k].url + (items[k].blockPreviewUrl ? items[k].blockPreviewUrl : builder.options.blockPreviewUrl) %>">
    </div>
<% } %>
</div>
