<div class="settings-blocks-full save-template-settings">
    <div class="button-save-template create-template">
        <span class="save"><i class="fa fa-floppy-o save-icon"></i><%= save_template %></span>
        <span class="save-loading"><i class="fa fa-floppy-o save-icon"></i><%= save_loading %></span>
    </div>
    <div class="notice-block blue">
        <%= save_notice_title %>
    </div>
    <div class="error-block error-block-empty-page">
        <%= you_cant_save_empty_template %>
    </div>
    <div class="error-block error-block-empty-title">
         <%= you_cant_save_empty_title %>
    </div>
</div>
