<% if (device == "tablet" || device == "mobile") { %>
<div class="backward-button">
	<div class="backward-button__text">
		<%= group.label %>
	</div>
</div>
<% } %>
<div class="preview-blocks">
<% for (var k = 0; k < items.length; k++) { %>
    <div id="preview-block-<%= items[k].name %>" class="preview-block" data-lib="<%= items[k].lib %>">
        <div class="shield"></div>
        <img src="<%= items[k].url + (items[k].blockPreviewUrl ? items[k].blockPreviewUrl : qoob.options.blockPreviewUrl) %>">
    </div>
<% } %>
</div>
