<div class="backward-button">
    <div class="backward-button__text">
        <%= back %>
    </div>
</div>
<div class="settings-buttons">
    <div class="settings-buttons__moveup control-buttons__moveup">
        <i class="settings-buttons__icon-moveup fa fa-arrow-circle-up"></i>
        <span><%= moveUp %></span>
    </div>
    <div class="settings-buttons__movedown control-buttons__movedown">
        <i class="settings-buttons__icon-movedown fa fa-arrow-circle-down"></i>
        <span><%= moveDown %></span>
    </div>
    <div class="settings-buttons__delete" title="<%=delete %>">
        <i class="fa fa-trash-o"></i>
    </div>
</div>
<div class="settings-blocks"></div>
<div class="overlay-settings"></div>